@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap');


/* Geral*/



* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: #07141B;
    font-family: 'Inter', sans-serif;
    color: #8FA3AD;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}


nav {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    background-color: #0B1F2A;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.12rem solid #35576b;
    flex-flow: row wrap;
    cursor: default;
}

nav h6 {
    display: none;
}

nav a {
    text-decoration: none;
    margin: 0.5rem;
    color: #C7D1D6;
}

nav a:hover {
    color: #10CFA6;
    text-shadow: 0 0 0.2rem #3EF2C9;
}

.inputBox {
    margin: 1.5rem 0;
    height: 1.5rem;
}

.inputBox input {
    background-color: #0E2A36;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    outline: none;
    color: #C7D1D6;
    height: 100%;
    padding: 0.3rem 0.5rem;
}

.inputBox input:hover {
    border: solid 0.1rem #10CFA6;
}

.inputBox input::placeholder {
    color: #C7D1D6;
}


.grayFog {
    background-color: #35576b;
    opacity: 0.5;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.toastNotificationContent {
    width: 36%;
    display: flex;
    flex-flow: column-reverse;
    max-height: 15rem;
    position: fixed;
    bottom: 0.5rem;
    right: 4.5rem;
}

.toastNotification {
    width: 100%;
    height: auto;
    background-color: #35576b;
    border-left: solid 1.5rem red;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    opacity: 0;
    transform: translateX(5rem);
}

.spawn {
    animation: spawn 0.5s ease forwards;
}



/* Index */



.indexMain {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
}


.mainContent {
    position: absolute;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 30%;
}

.mainContent h1{
    text-align: center;
    font-size: 3.85rem;
    height: 3.8rem;
}

.mainContent p {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    width: 25rem;
    font-size: 1rem;
}

.mainContent img {
    border-radius: 50%;
    height: 8.7rem;
    width: 9rem;
    box-shadow: 0rem 1rem 7rem #18E0B5;
    margin-bottom: 1rem;
}

.mainContent button {
    background-color: #18E0B5;
    border: none;
    color: #06211A;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    width: 13rem;
    height: 2rem;
}

.mainContent button:hover {
    background-color: #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}


.rankingIndex {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.rankingIndexTabel {
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    background-color: #0B1F2A;
    width: 25rem;
}

.rankingIndexHeader {
    border-bottom: solid 0.1rem #35576b;
    margin: 0.8rem;
}

.rankingIndexHeader p {
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

.rankingIndexContent {
    margin: 0.8rem;
    width: 94%;
    max-height: 21.4rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.rankingIndexContent::-webkit-scrollbar {
    width: 0.4rem;
    padding-left: 0.5rem;
}

.rankingIndexContent::-webkit-scrollbar-track {
    background: #0B1F2A;
}

.rankingIndexContent::-webkit-scrollbar-thumb {
    background: #18E0B5;
    border-radius: 0.8rem;
}

.rankingIndexContent::-webkit-scrollbar-thumb:hover {
    background: #10CFA6;
    cursor: pointer;
}


.userTurmas {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    position: absolute;
    left: 30%;
    display: none;
    flex-flow: column wrap;
    padding: 1rem;
    width: 40%;
    height: auto;
    box-shadow: 0 0 0.2rem #35576b;
    z-index: 20;
}

.userTurmasHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0.4rem 0;
}

.userTurmasHeader div {
    width: 96%;
}

.userTurmasContent {
    margin: 0.4rem;
    width: 97%;
    max-height: 22rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.userTurmasContent::-webkit-scrollbar {
    width: 0.3rem;
    padding-left: 0.5rem;
}

.userTurmasContent::-webkit-scrollbar-track {
    background: #0B1F2A;
}

.userTurmasContent::-webkit-scrollbar-thumb {
    background: #18E0B5;
    border-radius: 0.8rem;
}

.userTurmasContent::-webkit-scrollbar-thumb:hover {
    background: #10CFA6;
    cursor: pointer;
}

.userTurmaContentItem {
    display: flex;
    flex-flow: column wrap;
    background-color: #0E2A36;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    width: 95%;
    height: 2.5rem;
    padding: 0.5rem;
    margin: 0.4rem 0.2rem;
    cursor: pointer;
}

.userTurmaContentItem p {
    font-size: 0.8rem;
}

.userTurmaContentItem h4 {
    font-size: 1rem;
}

.userTurmaContentItem:hover {
    background-color: #12363C;
    border: solid 0.1rem #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}

.entrarTurmaButton {
    background-color: #18E0B5;
    align-self: center;
    border: none;
    color: #06211A;
    font-weight: bolder;
    border-radius: 0.8rem;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    font-size: 0.8rem;
    width: 80%;
    height: 2rem;
    margin: 0.5rem 0 0 0;
}

.entrarTurmaButton:hover {
    background-color: #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}


.entrarTurmaInterface {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    position: absolute;
    left: 30%;
    display: none;
    flex-flow: column wrap;
    padding: 1rem;
    width: 40%;
    height: auto;
    box-shadow: 0 0 0.2rem #35576b;
    z-index: 20;
}

.entrarTurmaInterfaceHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0.4rem 0 0 0;
}

.entrarTurmaInterfaceHeader div {
    width: 96%;
}

.entrarTurmaInterface input{
    width: 96%;
    margin-top: 0;
}

.entrarTurmaInterfaceContent {
    margin: 0.4rem 0;
    width: 100%;
    max-height: 21rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.entrarTurmaInterfaceContent::-webkit-scrollbar {
    width: 0.3rem;
    padding-left: 0.5rem;
}

.entrarTurmaInterfaceContent::-webkit-scrollbar-track {
    background: #0B1F2A;
}

.entrarTurmaInterfaceContent::-webkit-scrollbar-thumb {
    background: #18E0B5;
    border-radius: 0.8rem;
}

.entrarTurmaInterfaceContent::-webkit-scrollbar-thumb:hover {
    background: #10CFA6;
    cursor: pointer;
}

.entrarTurmaInterfaceContentItem {
    display: flex;
    flex-flow: column wrap;
    background-color: #0E2A36;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    width: 96%;
    height: 2.5rem;
    padding: 0.5rem;
    margin: 0.4rem 0;
    cursor: pointer;
}

.entrarTurmaInterfaceContentItem p {
    font-size: 0.8rem;
}

.entrarTurmaInterfaceContentItem h4 {
    font-size: 1rem;
}

.entrarTurmaInterfaceContentItem:hover {
    background-color: #12363C;
    border: solid 0.1rem #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}


.professorTurmas {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    position: absolute;
    left: 30%;
    display: none;
    flex-flow: column wrap;
    padding: 1rem;
    width: 40%;
    height: auto;
    box-shadow: 0 0 0.2rem #35576b;
    z-index: 20;
}

.professorTurmas button {
    background-color: #18E0B5;
    align-self: center;
    border: none;
    color: #06211A;
    font-weight: bolder;
    border-radius: 0.8rem;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    font-size: 0.8rem;
    width: 80%;
    height: 2rem;
    margin: 0.5rem 0 0 0;
}

.professorTurmas button:hover {
    background-color: #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}

.professorTurmasHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0.4rem 0 0 0;
    width: 100%;
}

.professorTurmasHeader div {
    width: 86%;
}

.professorTurmasContent {
    margin: 0.4rem 0    ;
    width: 100%;
    max-height: 23rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.professorTurmasContent::-webkit-scrollbar {
    width: 0.3rem;
    padding-left: 0.5rem;
}

.professorTurmasContent::-webkit-scrollbar-track {
    background: #0B1F2A;
}

.professorTurmasContent::-webkit-scrollbar-thumb {
    background: #18E0B5;
    border-radius: 0.8rem;
}

.professorTurmasContent::-webkit-scrollbar-thumb:hover {
    background: #10CFA6;
    cursor: pointer;
}

.professorTurmasContentItem {
    background-color: #0E2A36;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    align-content: center;
    width: 96%;
    height: 2.5rem;
    padding: 0.5rem;
    margin: 0.4rem 0;
    cursor: pointer;
}

.professorTurmasContentItem h4 {
    font-size: 1rem;
}

.professorTurmasContentItem:hover {
    background-color: #12363C;
    border: solid 0.1rem #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}


.criarTurmaInterface {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    position: absolute;
    left: 30%;
    top: 23%;
    display: none;
    flex-flow: column wrap;
    padding: 1rem;
    width: 40%;
    height: auto;
    box-shadow: 0 0 0.2rem #35576b;
    z-index: 20;
}

.criarTurmaInterfaceHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0.4rem 0 0 0;
}

.criarTurmaInterfaceHeader div {
    width: 96%;
}

.criarTurmaInterfaceContent {
    text-align: center;
}

.criarTurmaInterfaceContent .inputBox {
    margin-top: 0;
}

.criarTurmaInterfaceContent input {
    width: 90%;
    margin: 1rem 0;
}

.criarTurmaInterfaceContent textarea {
    width: 90%;
    height: 3.5rem;
    background-color: #0E2A36;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    outline: none;
    color: #C7D1D6;
    font-family: 'Inter', sans-serif;
    margin: 1rem 0;
    padding: 0.2rem 0.5rem;
}

.criarTurmaInterfaceContent textarea:hover {
    border: solid 0.1rem #10CFA6;
}

.criarTurmaInterfaceContent button {
    background-color: #18E0B5;
    border: none;
    color: #06211A;
    font-weight: bolder;
    border-radius: 0.8rem;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    font-size: 0.8rem;
    width: 70%;
    height: 2rem;
    margin: 0.5rem 0 ;
}

.criarTurmaInterfaceContent button:hover {
    background-color: #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}



/* login e signin */



.loginMain {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.loginPanel {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
}

.loginHeader {
    margin: 0.8rem;
    padding-bottom: 1.8rem;
    border-bottom: solid 0.1rem #35576b;
}

.loginHeader h2 {
    height: 2.8rem;
    font-size: 2.5rem;
}

.loginPanelContent {
    margin: 0.5rem 0;
    justify-items: center;
}

.loginPanelContent .inputBox {
    width: 100%;
}

.loginPanelContent input {
    width: 70%;
}

.loginPanel button {
    background-color: #18E0B5;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    color: #06211A;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 1rem 0 1.5rem 0;
    width: 50%;
    height: 1.8rem;
}

.loginPanel button:hover {
    background-color: #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}

.changePath {
    margin-top: 0.4rem;
}

.changePath a {
    font-family: 'Poppins', sans-serif;
    color: #18E0B5;
    text-decoration: none;
    font-size: 2rem;
}

.changePath a:hover {
    color: #10CFA6;
    text-shadow: 0 0 0.2rem #3EF2C9;
    font-size: 2.5rem;
}



/* Perfil */



.perfilMain {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0.5rem;
}


.status{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem;
    margin: 0.8rem;
    width: 66%;
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
}

.status div {
    text-align: center;
    background-color: #0E2A36;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 1.5rem 0;
    min-width: 15%;
    height: 4.4rem;
}

.status div p {
    font-size: 0.8rem;
}


.infos {
    display: flex;
    flex-flow: column nowrap;
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 0.8rem;
    width: 66%;
    height: auto;
}

.profileInfos {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.infosButton {
    margin-left: auto;
    margin-top: 1rem;
}

.infosButton button {
    background-color: #07141B;
    border: solid 0.1rem #8FA3AD;
    border-radius: 0.3rem;
    color: #8FA3AD;
    width: 5rem;
    padding: 0.3rem;
    cursor: pointer;
}

.infosButton button:hover {
    box-shadow: 0 0 0.2rem #8FA3AD; 
}

.info {
    width: 75%;
}

.info h2 {
    padding: 1rem 0 0 1rem;
}

.info p {
    height: 3.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0.3rem 0 0.3rem 1rem;
}

.xp {
    display: flex;
    flex-flow: column wrap;
    background-color: #0E2A36;
    border: none;
    border-radius: 0.8rem;
    align-self: center;
    padding: 1rem;
    margin: 0.5rem 0 0 0;
    width: 95%;
    height: auto;
}

.xpHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.xpHeader p {
    font-size: 0.8rem;
}

.barraXp {
    background-color: #12363C;
    height: 0.7rem;
    width: 100%;
    margin-top: 0.8rem;
    border-radius: 1rem;
}

.xpAtual {
    background-color: #18E0B5;
    width: 0%;
    height: 0.7rem;
    border-radius: 1rem;
}

#nivel {
    display: inline-block;
    background-color: #12363C;
    color: #18E0B5;
    border-radius: 0.9rem;
    padding: 0.3rem 0.7rem;
    margin-left: 0.5rem;
    vertical-align: 60%;
    font-size: 0.5rem;
}


.conquistas {
    display: flex;
    flex-flow: column wrap;
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 0.8rem;
    width: 66%;
}

.conquistasContent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 3%;
    margin-top: 1rem;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 0.8rem;
    scrollbar-gutter: stable;
}

.conquistaFalse {
    text-align: center;
    background-color: #0E2A36;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 1.5rem 0;
    min-width: 15%;
    height: 4.4rem;
}

.conquistaTrue {
    text-align: center;
    background-color: #12363C;
    border: solid 0.1rem #10CFA6;
    color: #C7D1D6;
    border-radius: 0.8rem;
    padding: 1.5rem 0;
    min-width: 15%;
    height: 4.4rem;
}

.conquistasContent::-webkit-scrollbar {
    height: 0.4rem;
    padding: 0.8rem;
}

.conquistasContent::-webkit-scrollbar-track {
    background: #0B1F2A;
}

.conquistasContent::-webkit-scrollbar-thumb {
    background: #18E0B5;
    border-radius: 0.8rem;
}

.conquistasContent::-webkit-scrollbar-thumb:hover {
    background: #10CFA6;
    cursor: pointer;
}

.edicaoPerfil {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: #FFFFFF;
}

.edicaoPerfil:hover {
    border-bottom: solid 0.1rem #10CFA6;
}

#editarNome {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 1rem 0 0 1rem;
}

#editarDesc {
    font-size: 1rem;
    height: 3.5rem;
    color: #8FA3AD;
    font-family: 'Inter', sans-serif;
    padding: 0.3rem 0 0.3rem 1rem;
}



/* Ranking */



.rankingMain {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0.5rem;
}


.rankingHeader {
    text-align: center;
    width: 67%;
    padding: 1rem;
}

.rankingTitle {
    padding: 0.4rem;
    margin: 0.4rem;
}

.rankingInfos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.4rem;
    margin: 0.4rem;
}

.rankingInfo {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 1rem 0;
    width: 32.3%;
    height: 3rem;
}


.barraPesquisaRanking {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    width: 63%;
    height: auto;
    padding: 0.5rem 1rem;
}

.barraPesquisaRanking .inputBox {
    height: auto;
    margin: 0.5rem 0;
}

.barraPesquisaRanking .inputBox input {
    padding: 0.4rem;
    width: 97%;
}


.top3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 66%;
    height: 13rem;
    padding: 1rem;
}

.top3 div {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    width: 30%;
    text-align: center;
}

.top3 p {
    color: #18E0B5;
}

.top3 div p, .top3 div h3{
    animation: podioAnimacao 2s ease-in-out infinite;
}

.lugar1 div{
    background-color: #2A2410;
    width: 100%;
    height: 70%;
    margin-top: 0.5rem;
    border-radius: 0.8rem 0.8rem 0 0;
}

.lugar2 div{
    background-color: #1E2428;
    width: 100%;
    height: 55%;
    margin-top: 0.5rem;
    border-radius: 0.8rem 0.8rem 0 0;
}

.lugar3 div{
    background-color: #2A1F17;
    width: 100%;
    height: 40%;
    margin-top: 0.5rem;
    border-radius: 0.8rem 0.8rem 0 0;
}


.rankingGeral {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 1rem;
    width: 63%;
}

.rankingGeralPos {
    width: 100%;
    margin: 1rem 0;
    max-height: 40.4rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
}


.rankingGeralPos::-webkit-scrollbar {
    width: 0.4rem;
    padding-left: 0.5rem;
}

.rankingGeralPos::-webkit-scrollbar-track {
    background: #0B1F2A;
}

.rankingGeralPos::-webkit-scrollbar-thumb {
    background: #18E0B5;
    border-radius: 0.8rem;
}

.rankingGeralPos::-webkit-scrollbar-thumb:hover {
    background: #10CFA6;
    cursor: pointer;
}

.rankingGeralContent {
    display: flex;
    flex-flow: row wrap;
    background-color: #0E2A36;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    margin: 0.8rem 0;
    min-height: 1rem;
    width: 98%;
}

.rankingGeralContent p {
    padding: 0.8rem;
    color: #18E0B5;
    margin-left: auto;
}

.rankingGeralContent h4 {
    padding: 0.8rem;
}



/* Configurações */



.configMain {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0;
}

.configHeader {
    width: 66%;
    padding: 0.8rem;
}

.configNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 0.2rem 0.8rem;
    margin: 0.8rem 0 0.3rem 0;
    width: 100%;
}

.configNav div{
    padding: 0.3rem;
    width: 15%;
    border-radius: 0.8rem;
    text-align: center;
}

.configNav h4 {
    cursor: default;
}

.configNav div:hover {
    background-color: #07141B;
}


.configContaOn {
    display: none;
    flex-flow: column wrap;
    width: 66%;
}

.infosPessoais {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin: 0.8rem 0;
    width: 100%;
}

.infosPessoaisContent div, .infosPessoaisContent form {
    height: 4rem;
    margin: 0.5rem 0;
}

.infosPessoaisContent div input, .infosPessoaisContent form input {
    height: 40%;
    width: 98%;
}



.seguranca {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin: 0.8rem 0;
    width: 100%;
}

.segurancaContent div {
    height: 4rem;
    margin: 0.5rem 0;
}

.segurancaContent div input {
    height: 40%;
    width: 98%;
}

.novaSenhaContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0.5rem 0;
    width: 99%;
}

.novaSenhaContent div {
    width: 48.5%;
    margin: 0;
}

.seguranca button {
    background-color: #18E0B5;
    border: none;
    color: #06211A;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 17%;
    height: 2rem;
}

.seguranca button:hover {
    background-color: #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}

.zonaPerigo {
    background-color: #0B1F2A;
    border: solid 0.1rem #FF4D4D;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin: 0.8rem 0;
    width: 100%;
}

.zonaPerigoContent {
    margin: 0.5rem 0;
}

.zonaPerigoContent button {
    background-color: #07141B;
    border: solid 0.1rem #8FA3AD;
    color: #8FA3AD;
    border-radius: 0.3rem;
    cursor: pointer;
    padding: 0.3rem;
    margin: 0.5rem 1.5rem 0 0;
}

.zonaPerigoContent button:hover {
    box-shadow: 0 0 0.2rem #8FA3AD;
}

#excluirContaButton {
    color: #FF4D4D;
    border-color: #FF4D4D;
}

#excluirContaButton:hover {
    box-shadow: 0 0 0.2rem #FF4D4D;
}


.configContaOff {
    display: none;
    flex-flow: column wrap;
    width: 66%;
}

.configLogin {
    background-color: #0B1F2A;
    text-align: center;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin: 0.8rem 0;
    width: 100%;
}

.configLogin button{
    background-color: #18E0B5;
    border: none;
    color: #06211A;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.7rem 0;
    width: 17%;
    height: 2rem;
}

.configLogin button:hover {
    background-color: #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}


.confirmarSairConta {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    position: absolute;
    display: none;
    top: 50%;
    left: 30%;
    flex-flow: column wrap;
    padding: 1rem;
    width: 40%;
    height: auto;
    box-shadow: 0 0 0.2rem #35576b;
    z-index: 20;
}

.confirmarSairConta h3 {
    margin: 0 0 0.8rem 0;
}

.confirmarSairConta button {
    background-color: #07141B;
    align-self: center;
    border: solid 0.1rem #8FA3AD;
    color: #8FA3AD;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    width: 50%;
    height: 2rem;
    margin: 0.5rem 0;
}

.confirmarSairConta button:hover {
    box-shadow: 0 0 0.2rem #8FA3AD;
}


.confirmarExcluirConta {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    position: absolute;
    display: none;
    top: 50%;
    left: 30%;
    flex-flow: column wrap;
    padding: 1rem;
    width: 40%;
    height: auto;
    box-shadow: 0 0 0.2rem #35576b;
    z-index: 20;
}

.confirmarExcluirConta div {
    align-self: center;
    text-align: center;
    margin: 0.8rem 0;
}

.confirmarExcluirConta div h4 {
    color: #FF4D4D;
}

.confirmarExcluirConta div input {
    text-align: center;
    color: #FF4D4D;
    font-size: 1rem;
    font-weight: bold;
    border: solid 0.1rem #FF4D4D;
    padding: 0.3rem;
    width: 100%;
}

.confirmarExcluirConta div input:hover {
    border-color: #FF4D4D;
    box-shadow: 0 0 0.2rem #FF4D4D;
}

.confirmarExcluirConta div button {
    background-color: #FF4D4D;
    border: none;
    color: #06211A;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.8rem 0 0.5rem 0;
    width: 50%;
    height: 2rem;
}

.confirmarExcluirConta div button:hover {
    background-color: #FF1A1A;
    box-shadow: 0 0 0.2rem #FF4D4D;
}

.confirmarExcluirConta button {
    background-color: #07141B;
    align-self: center;
    border: solid 0.1rem #8FA3AD;
    color: #8FA3AD;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    width: 25%;
    height: 2rem;
}

.confirmarExcluirConta button:hover {
    box-shadow: 0 0 0.2rem #8FA3AD;
}



/* Turma */



.turmaMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5rem;
    padding: 1rem;
    margin: 1rem;
}

.leftSide {
    display: flex;
    flex-flow: column wrap;
    width: 35%;
}

.rightSide {
    display: flex;
    flex-flow: column wrap;
    width: 35%;
}


.turmaInfos {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin: 0.8rem 0;
    width: 100%;
    height: auto;
}

.turmaInfos h2, .turmaInfos h5 {
    padding: 0.2rem 0;
}

.turmaInfos p {
    height: 3.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0.3rem 0.2rem;
}

.turmaConfig {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin: 0.8rem 0;
    width: 100%;
    height: auto;
}

.turmaConfigAlunoOn, .turmaConfigAlunoOff{
    display: none;
    flex-flow: column wrap;
}

.turmaConfigAlunoOn button {
    background-color: #07141B;
    border: solid 0.1rem #8FA3AD;
    border-radius: 0.3rem;
    align-self: center;
    color: #8FA3AD;
    font-weight: bolder;
    cursor: pointer;
    padding: 0.3rem;
    margin: 1rem 0 0.3rem 0;
    width: 30%;
}

.turmaConfigAlunoOn button:hover {
    box-shadow: 0 0 0.2rem #8FA3AD;
}

.turmaConfigAlunoOff button {
    background-color: #18E0B5;
    border: none;
    border-radius: 0.3rem;
    align-self: center;
    color: #06211A;
    font-weight: bolder;
    cursor: pointer;
    padding: 0.3rem;
    margin: 1rem 0 0.3rem 0;
    width: 30%;
}

.turmaConfigAlunoOff button:hover {
    background-color: #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}

.turmaDesafio {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin: 0.8rem 0;
    width: 100%;
    height: auto;
}

.turmaDesafiosProf, .turmaDesafiosAluno{
    display: none;
    flex-flow: column wrap;
}

.turmaDesafiosProf button, .turmaDesafiosAluno button {
    background-color: #18E0B5;
    border: none;
    border-radius: 0.3rem;
    align-self: center;
    color: #06211A;
    font-weight: bolder;
    cursor: pointer;
    padding: 0.3rem;
    margin: 1rem auto 0.3rem auto;
    width: 30%;
}

.turmaDesafiosProf button:hover, .turmaDesafiosAluno button:hover {
    background-color: #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}


.turmaAlunos {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    padding: 0.5rem;
    margin: 0.8rem 0;
    width: 100%;
}

.turmaAlunosHeader {
    padding: 0.4rem 0.2rem;
    border-bottom: solid 0.1rem #35576b;
}

.turmaAlunosContent {
    padding: 0.4rem 0;
    height: 23.5rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
}


.turmaAlunosContent::-webkit-scrollbar {
    width: 0.4rem;
    padding-left: 0.8rem;
}

.turmaAlunosContent::-webkit-scrollbar-track {
    background: #0B1F2A;
}

.turmaAlunosContent::-webkit-scrollbar-thumb {
    background: #18E0B5;
    border-radius: 0.8rem;
}

.turmaAlunosContent::-webkit-scrollbar-thumb:hover {
    background: #10CFA6;
    cursor: pointer;
}

.turmaAlunosContentItem {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #0E2A36;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    margin: 0.8rem 0;
    padding: 0.6rem;
    width: 96%;
    height: auto;
}

.turmaAlunosContentItem p {
    color: #18E0B5;
}

.turmaAlunosContentItem h3 {
    cursor: pointer;
}

#turmaSenha {
    display: none;
}

#turmaSenha input {
    width: 95%;
}


.confirmarSairTurma {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    position: absolute;
    display: none;
    top: 30%;
    left: 30%;
    flex-flow: column wrap;
    padding: 1rem;
    width: 40%;
    height: auto;
    box-shadow: 0 0 0.2rem #35576b;
    z-index: 20;
}

.confirmarSairTurma h3 {
    margin: 0 0 0.8rem 0;
}

.confirmarSairTurma button {
    background-color: #07141B;
    align-self: center;
    border: solid 0.1rem #8FA3AD;
    color: #8FA3AD;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    width: 50%;
    height: 2rem;
    margin: 0.5rem 0;
}

.confirmarSairTurma button:hover {
    box-shadow: 0 0 0.2rem #8FA3AD;
}


.criarDesafioInterface {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    position: absolute;
    display: none;
    flex-flow: column wrap;
    left: 30%;
    padding: 1rem;
    width: 40%;
    height: auto;
    box-shadow: 0 0 0.2rem #35576b;
    z-index: 20;
}

.criarDesafioInterface input {
    margin: 0;
    padding: 0.2rem 0.5rem;
    width: 95%;
}

.criarDesafioInterface .inputBox {
    margin: 1rem;
}

.criarDesafioInterface button {
    background-color: #18E0B5;
    border: none;
    border-radius: 0.3rem;
    align-self: center;
    color: #06211A;
    font-weight: bolder;
    cursor: pointer;
    padding: 0.3rem;
    margin: 1rem 0 0.3rem 0;
    width: 30%;
}

.criarDesafioInterface button:hover {
    background-color: #10CFA6;
    box-shadow: 0 0 0.2rem #3EF2C9;
}



/* Play */



.playMain {
    display: flex;
    padding: 1rem;
    margin: 1rem;
}

.desafioInterface {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    margin: 0 auto;
    width: 50%;
    height: auto;
    padding: 0.8rem;
}

.desafioInterfaceHeader {
    padding: 0.4rem 0.2rem;
    border-bottom: solid 0.1rem #35576b;
}

.desafioInterface h3 {
    color: #18E0B5;
    cursor: pointer;
    display: none;
}

.desafioInterfaceContent {
    display: flex;
    flex-flow: column wrap;
    padding: 0.4rem 0.2rem;
}

.desafioInterfaceContentItem {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: #0E2A36;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    margin: 0.8rem 0;
    padding: 0.6rem;
    width: 95%;
    height: auto;
}

.desafioInterfaceContentItem:hover {
    cursor: pointer;
}

.desafioInterfaceContentItem h4 {
    padding-left: 0.5rem;
}

.itemHeader {
    padding-right: 0.5rem;
    padding-left: 0;
    border-right: solid 0.15rem #35576b;
}

.resultsTable {
    background-color: #0B1F2A;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    display: none;
    width: 50%;
    height: auto;
    padding: 0.8rem;
    margin: 0 auto;
}

.resultsTableContent {
    padding: 0.4rem 0.2rem;
    height: 25rem;
    width: 100%;
    overflow: auto;
    scrollbar-gutter: stable;
}

.resultsTableContent::-webkit-scrollbar {
    width: 0.3rem;
    padding-left: 0.5rem;
}

.resultsTableContent::-webkit-scrollbar-track {
    background: #0B1F2A;
}

.resultsTableContent::-webkit-scrollbar-thumb {
    background: #18E0B5;
    border-radius: 0.8rem;
}

.resultsTableContent::-webkit-scrollbar-thumb:hover {
    background: #10CFA6;
    cursor: pointer;
}

.resultsTableContentItem {
    display: flex;
    flex-flow: column wrap;
    gap: 0.6rem;
    align-items: center;
    background-color: #0E2A36;
    border: solid 0.1rem #35576b;
    border-radius: 0.8rem;
    margin: 0.4rem 0;
    padding: 0.5rem;
    width: 95%;
    height: auto;
}

.resultsTable h3 {
    color: #18E0B5;
    cursor: pointer;
}



/* Animações */



@keyframes podioAnimacao {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spawn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



/* Responsividade */



@media (max-width: 767px) {
    nav {
        flex-flow: column wrap;
        height: auto;
        padding: 0.3rem;
        justify-content: center;
    }

    nav h6 {
        display: block;
    }

    .navLinks {
        display: none;
        flex-flow: column;
        align-items: center;
        background-color: #0E2A36;
        width: 100%;
    }


    .indexMain {
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .mainContent{
        position: relative;
        padding: 0;
        height: auto;
        width: 100%;
        left: 0;
        margin-top: 5rem;
    }

    .mainContent button {
        height: 3rem;
        width: 70%;
    }

    .rankingIndex {
        padding: 0;
        width: 100%;
        margin: 5rem 0 0 0;
    }

    .rankingIndexTabel {
        width: 92%;
    }

    .userTurmas {
        position: relative;
        width: 87%;
        top: auto;
        left: auto;
        margin: auto;
    }

    .userTurmas button {
        height: 2.5rem;
        width: 70%;
        font-size: 0.9rem;
    }

    .entrarTurmaInterface {
        position: relative;
        width: 87%;
        margin: auto;
        top: auto;
        left: auto;
    }

    .professorTurmas {
        position: relative;
        top: auto;
        left: auto;
        width: 87%;
        margin: auto;
    }

    .professorTurmas button {
        height: 2.5rem;
        width: 70%;
        font-size: 0.9rem;
    }

    .criarTurmaInterface {
        position: relative;
        width: 87%;
        left: auto;
        top: auto;
        margin: auto;
    }

    .criarTurmaInterface button {
        height: 2.5rem;
        width: 70%;
        font-size: 0.9rem;
    }

    .loginPanel {
        width: 80%;
        margin: 0;
        margin-top: 20%;
    }

    .perfilMain {
        margin: 0.5rem 0;
        align-items: center;
    }

    .perfilMain section {
        width: 87%;
        margin: 0.8rem 0;
    }

    .status {
        gap: 3%;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 0.8rem;
        scrollbar-gutter: stable;
    }

    .status::-webkit-scrollbar {
        height: 0.4rem;
        padding-top: 0.5rem;
    }

    .status::-webkit-scrollbar-track {
        background: #0B1F2A;
    }

    .status::-webkit-scrollbar-thumb {
        background: #18E0B5;
        border-radius: 0.8rem;
    }

    .status::-webkit-scrollbar-thumb:hover {
        background: #10CFA6;
        cursor: pointer;
    }

    .status div {
        min-width: 30%;
    }

    .rankingMain {
        margin: 0.5rem 0;
        align-items: center;
    }

    .rankingMain section {
        width: 87%;
        margin: 0.4rem 0;
    }

    .barraPesquisaRanking .inputBox {
        height: auto;
    }

    .rankingInfos {
        margin: 0.4rem 0;
        width: 100%;
        justify-self: center;
    }

    .rankingInfo {
        padding: 0.3rem;
        width: auto;
        height: auto;
    }

    .configMain {
        margin: 0;
        align-items: center;
    }

    .configHeader {
        width: 94%;
    }
    
    .configNav {
        width: 94%;
    }
    
    .configContaOn, .configContaOff {
        width: 94%;
        align-items: center;
    }

    .configContaOn section {
        width: 94%;
    }

    .configContaOff div {
        width: 94%;
    }

    .configContaOff button {
        width: 50%;
    }
    
    .infosPessoaisContent div input, .infosPessoaisContent form input{
        width: 95%;
    }

    .segurancaContent div input {
        width: 95%;
    }

    .novaSenhaContent {
        width: 97%;
        justify-content: space-between;
    }

    .novaSenhaContent .inputBox {
        margin: 0;
        width: 47%;
    }

    .seguranca button {
        width: 50%;
        font-size: 0.9rem;
    }

    .confirmarSairConta {
        width: 87%;
        left: auto;
        top: 40%;
        margin: auto;
    }

    .confirmarExcluirConta {
        width: 87%;
        left: auto;
        top: 40%;
        margin: auto;
    }

    .turmaMain {
        flex-flow: column wrap;
        margin: 1rem 0;
        align-items: center;
        gap: 1rem;
    }

    .leftSide {
        width: 95%;
        align-items: center;
    }

    .rightSide {
        width: 95%;
        align-items: center;
    }

    .leftSide div {
        width: 92.34%;
    }

    .rightSide div {
        width: 95%;
    }

    #turmaSenha {
        width: 100%;
    }

    #turmaSenha input {
        width: 100%;
    }

    .confirmarSairTurma {
        width: 87%;
        left: auto;
        top: 34%;
    }

    .criarDesafioInterface {
        width: 87%;
        left: auto;
        top: 23%;
    }

    .playMain {
        margin: 1rem auto;
    }

    .desafioInterface {
        margin-top: 5rem;
        width: 90%;
    }

    .resultsTable {
        margin-top: 5rem;
        width: 90%;
    }
}